.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.todo-title {
    font-size: 2rem;
}

.todo-container {
    font-size: 2rem;
}

.todo-input {
    width: calc(100% - 100px);
    float: left;
}

.todo-input input {
    padding: 0px 0px 0px 22px;
    width: 100%;
    float: left;
    height: 40px;
    line-height: 40px;
}

.todo-button {
    width: 100px;
    float: left;
}

.todo-button button {
    width: 100px;
    float: left;
    border-radius: 2px;
    height: 44px;
    border: 1px solid #6fa231;
    cursor: pointer;
    line-height: 46px;
    background-color: #6fa231;
    color: #fff;
}

.todo-list {
    float: left;
}

.todo-list li {
    font-size: 1.4rem;

}

.alert-danger {
    color: #7c2518;
    background-color: #b76d62;
    width: 100%;
    float: left;
    border: 1px solid #7c2518;
    border-radius: 4px;
    font-size: 1rem;
    margin: 12px 0px;
    line-height: 36px;
    padding: 2px 12px;
    font-weight: 400;
}

.alert-danger button {
    padding: 8px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    background-color: transparent;
    float: right;
    position: relative;
    top: -2px;
    right: -10px;
    transition: 0.8s;
}

.alert-danger button:hover {
    color: #28342c;
}

.todo-list button {
    background-color: #7c2518;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    margin-left: 20px;
    border-radius: 2px;
    border: 1px solid #7c2518;

}

.signup button {
    width: 100px;
    position: absolute;
    float: right;
    right: 10px;
    top: 10px;
    border-radius: 2px;
    height: 44px;
    border: 1px solid #a23188;
    cursor: pointer;
    line-height: 46px;
    background-color: #a23188;
    color: #fff;
}